@import "./bootstrap.min.css";


.fix_image {
  object-fit: contain;
}

.card_height {
  object-fit: cover;
  max-height: 240px!important;
  max-width: 360px!important;
}

.time_style{
  max-width: 20%!important;
}
