<% if object.errors.any? %>
<div class="alert alert-danger" role="alert">
  <ul>
    <% object.errors.full_messages.each do |m| %>
    <li>
      <%= m %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
