<% if flash[:notice] %>
<div class="row d-flex justify-content-center m-0">
  <div class="col-12 col-md-6 alert alert-success alert-dismissible fade show" role="alert">
    <%= flash[:notice] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
<% end %>
